.wrapper {
  margin: auto;
  max-width: 50%;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(auto, 50px); */
}
.list {
  
}
