.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d0d0d0;
  padding: 1rem;
}
.idBlock {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listView {
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.gridView {
  flex-direction: column;
  border-radius: 5px;
}
.name {
  margin: 1rem 0;
}

.date {
  margin: 1rem 0;
}

.listView .name {
  flex-basis: 200px;
}

.listView .date {
  flex-basis: 200px;
}
